<a href="https://colab.research.google.com/github/anahilozano09/POOPython/blob/main/lunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"

Hola Mundo

In [2]:
!ls -a

.  ..  .config	sample_data

In [4]:
print("Hola", "Mundo")
 
print("Hola" + "Mundo")
 
print("Hola", "Mundo", sep="-{-{-{-{-}}}}")  # Imprime: Hola-Mundo
 
print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-{-{-{-{-}}}}Mundo
HolaMundo

In [9]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {1} y estudio {0} en la FES Aragón".format(nombre, carrera))
print(f"Mi nombre es {nombre*2} y estudio en {carrera} dentro de la FES")

Mi nombre es ICO, la mejor y estudio José en la FES Aragón
Mi nombre es JoséJosé y estudio en ICO, la mejor dentro de la FES

In [11]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3  # 1.66667
division2 = 5 // 3 # 1
modulo = 5 % 3   # 2
potencia = 5 ** 3  # 125

In [12]:
suma

8

In [15]:
# Operadores de comparación
igual = 5 == 5  # False
diferente = 5 != 3  # True
mayor_que = 5 > 3  # True
menor_que = 5 < 3  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False

In [16]:
igual

True

In [19]:
# Operadores lógicos
y = True and True  # False
o = True or False  # True
no = not True  # False

In [25]:
False or (True and False)

False

In [35]:
saludo = "Hola Mundo"
cita = 'Los alumnos\n de ICO\t\t \'dicen\': "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [36]:
print(cita)

Los alumnos
 de ICO		 'dicen': "Hola Mundo"

In [41]:
def fn_uno():
    print("Hola aklfjajaskakdj")
 
a, b, c = 10, "Hola", fn_uno
print(a)
print(b)
print(c)

c.__call__()

10
Hola
<function fn_uno at 0x7fa040e03ac0>
Hola aklfjajaskakdj

In [42]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Anahi
Hola Anahi!

In [46]:
numero = int("20")
print(numero)
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad+1} años")

20
Introduce tu edad:19
Anahi tiene 20 años

In [47]:
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [48]:
pi * 2.0

6.28318

In [54]:
#      0      1      2
#      -3    -2     -1
frutas = ['limon','aguacate','fresa']
print(frutas[2])
print(frutas[-1])

fresa
fresa

In [55]:
cosas = ['limon', 10, 3.1419, True, [1,2,3,4], "hola"]
print(cosas)

['limon', 10, 3.1419, True, [1, 2, 3, 4], 'hola']

# Slicing en Python
[inicio : stop : step]
es la probabilidad de obtener rebanadas a partir de un tipo de datos lista o tupla, en general de un iterable. Un tipo de dato String es un iterable.

por defecto:
inicio = 0
stop es igual al tamaño de la variable
step = 1

In [57]:
ejemplo = [1,2,3,4,5,6, 'a','b','c','d','e']
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [61]:
rebanada = ejemplo[:9:]
print(rebanada)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']

In [70]:
frutas_dos = ('Aguacate','Limon','Naranja')

print(frutas)
print(frutas_dos)

frutas[1] = 'Piña'
#frutas_dos[1] = 'Piña'

print(frutas[1])
print(frutas_dos[1])

print(frutas_dos[1:2:1])
print(frutas_dos[-1])

['limon', 'Piña', 'fresa']
('Aguacate', 'Limon', 'Naranja')
Piña
Limon
('Limon',)
Naranja

# diccionarios teoria

1. Es un conjunto de pares llave valor
1. Agrupados por ':'
1. la llave siempre es de tipo string
1. el valor puede ser de cualquier tipo
1. el selector de la forma ['llave']
1. mutable
1. se declara entre los caracteres '{' y '}'
1. los pares estan separados por comas ','

In [76]:
alumno = {'numero_cuenta': 1232322, 'carrera':'ICO',
            'direccion' : {'calle': 'rancho seco', 'numero' : 23}
          }
print(alumno['direccion']['numero'])
print(alumno['direccion']['calle'][3:6:1])

23
cho